<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  

<bean id="restaurantCollectionBean" class="org.pradip.SpringTestCollection.RestaurantCollection">
    	<property name="waiterList">
    	    <list>
    	        <value>Ankit</value>
    	        <value>Likun</value>
    	        <value>Pradip</value>
    	    </list>
    	</property>
</bean>

</beans>